.input-console {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.input-console .header {
    background: #ededed;
    height: 4rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
    padding: 0 1rem;
    z-index: 2;
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-console .header input {
    display: none;
}

.input-console .header label,
.input-console .header a {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: black;
}

.input-console .textArea {
    flex-grow: 1;
    resize: none;
    border: 0;
    outline: 0;
    padding: 0.25rem;
    padding-top: 0.5rem;
    font-size: 1.1rem;
    min-height: 250px;
}